<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <title>Polynomial Interpolation</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>

    
    {% block content %}{% endblock %}

    <a href='/'>Load Python function</a>

    <form action="/csvfile" method="post" enctype="multipart/form-data">
        <input type="file" name="fileupload" id="fileToUpload">
        <input type="submit" value="Upload File" name="submit">
    </form>

</body>
</html>